<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--<script src="./js/jquery-3.6.0.min.js"></script>
  <script src="./js/actdatclientes.js"></script>-->
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
  
  <link rel="stylesheet" href="./css/estiloregistro.css">
  <title>Clientes</title>
</head>
<body>
    <header class="header2">
        
        <nav class="menu2">
            <ul>
                <li><a href="vclientes">Inicio</a></li>
                <li><a href="cerrar">Cerrar Sesion</a></li>
    
            </ul>
        </nav>
        
    </div>
    
  </header>
   <h1>INFORMACION PERSONAL</h1>
<form action="" name="frm" id="frm">
  <table > 
    
    <thead>
        
        <tr>
            
            <th>Documento</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo</th>
            <th>Celular</th>
            <th>Sexo</th>
            <th>Nacimiento</th>
           
        </tr>
    </thead>
    <tbody>
        <% datos.forEach(function (datos){ %>
    <tr>
        <td><input type="text" value="<%=datos.doccli%>" name="doccli" id="doc" class="doc" ></td>
        <td><input type="text" value="<%=datos.nomcli%>" name="nomcli" id="usu" class="usu"></td>
        <td><input type="text" value="<%=datos.apecli%>" name="apecli" id="cla" class="cla"></td>
        <td><input type="text" value="<%=datos.correocli%>" name="correocli" id="rol" class="rol"></td>
        <td><input type="text" value="<%=datos.celulra%>" name="celulra" id="est" class="est"></td>
        <td><input type="text" value="<%=datos.sexo%>" name="sexo" id="img" class="img"></td>
        <td><input type="text" value="<%=datos.fechanaccli%>" name="fechanaccli" id="img" class="img"></td>
        
    </tr>
        <%})%>
    </tbody>
    </table>
    </form>


</body>
</html>