<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="./js/jquery-3.6.0.min.js"></script>
  <script src="./js/actualizar.js"></script>
  <script src="./js/eliminar.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
  
  <link rel="stylesheet" href="./css/estiloregistro.css">
  <title>Formulario Usuarios</title>
</head>
<body>
    <header class="header2">
        
        <nav class="menu2">
            <ul>
                <li><a href="vadministrador">Inicio</a></li>
                <li><a href="cerrar">Cerrar Sesion</a></li>
    
            </ul>
        </nav>
        
    </div>
    
  </header>
    <form action="/frminsertar" method="POST" class="form-register animated fadeInDown">
        <h1>Formulario Registro Usuarios</h1>
        <input class="forprincipal" type="text" name="doccli" placeholder="Documento" autofocus>
        <input class="forprincipal" type="text" name="nomusu" placeholder="Usuario" autofocus>
        <input class="forprincipal" type="password" name="clave" placeholder="Clave" autofocus>
        <input class="forprincipal" type="text" name="rol" placeholder="Rol" autofocus>
        <input class="forprincipal" type="text" name="estado" placeholder="Estado">
        <input class="forprincipal" type="text"name="imagen" placeholder="Imagen">
        <button class="botons" type="submit">Registrarse</button>
        <p><a href="#">¿Ya tengo Cuenta?</a></p>
        
    </form>
  <br>
  <br>
<form action="" name="frm" id="frm">
  <table > 
    
    <thead>
        
        <tr>
            
            <th>Documento</th>
            <th>Usuario</th>
            <th>Clave</th>
            <th>Rol</th>
            <th>Estado</th>
            <th>Imagen</th>
            <th>Actualizar</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
        <% datos.forEach(function (datos){ %>
    <tr>
        <td><input type="text" value="<%=datos.doccli%>" name="doccli" id="doc" class="doc" ></td>
        <td><input type="text" value="<%=datos.nomusu%>" name="nomusu" id="usu" class="usu"></td>
        <td><input type="text" value="<%=datos.clave%>" name="clave" id="cla" class="cla"></td>
        <td><input type="text" value="<%=datos.rol%>" name="rol" id="rol" class="rol"></td>
        <td><input type="text" value="<%=datos.estado%>" name="estado" id="est" class="est"></td>
        <td><input type="text" value="<%=datos.imagen%>" name="imagen" id="img" class="img"></td>
        <td><input type="submit" value="Actualizar" id="btnact" class="btnact"></td>
        <td><input type="submit" value="Eliminar" id="btneli" class="btneli"></td>
    </tr>
        <%})%>
    </tbody>
    </table>
    </form>


</body>
</html>